@import "../../styleSheet/styleSheet.scss";

.popup {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  .pop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
    padding: 2rem;
    width: 40%;
    height: auto;
    border: 1px solid var(--color-secondary);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    animation: fadeIn 400ms ease-in-out;
    @include mb {
      width: 100%;
      height: auto;
      margin: 1rem;
      padding: 1rem;
    }
    .title {
      font-weight: bolder;
      margin: 1rem 0;
      font-size: 35px;
      @include mb {
        font-size: 20px;
      }
    }
    p {
      font-size: larger;
      a {
        font-weight: bold;
      }
      @include mb {
        font-size: medium;
      }
    }
    .btn {
      cursor: pointer;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      font-size: 20px;
      height: 1.8rem;
      width: 1.8rem;
      background-color: transparent;
      @include mb {
        top: 0.5rem;
        right: 0.5rem;
      }
      &:hover {
        color: gray;
        transition: all 0ms ease;
      }
      svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  80% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
